/* style.css */

/* CSS reset
 * remove browser defaults
 */
html,body,div,h1,h2,h3,h4,h5,ul,li,form{
	
}

/* Layout here */

.container {
	color: red;
	border-color: red;
	border: 1px solid;
	position: relative;
	height: 600px;
	
	
}

.canvas {
	border-color: black;
	color: black;
	border: 1px solid;
	height: 100%;
	
	
}

.dev-log {
	border-color:  blue;
	color: blue;
	border: 1px solid;
	position: absolute;
	left: 5%;
	width: 20%;
	height: 10%;
	top: 0;
}

.tooltip {
	position: absolute;
	border-color:  green;
	color: green;
	border: 1px solid;
	
}

.controls {
	position: absolute;
	width: 60%;
	left: 20%;
	bottom: 3%;
	border-color:  purple;
	border: 1px solid;
	color: purple;
	
}

#piglet {
	
	position: relative;
	left: 33%;
	width: 33%;
	margin-top: 10%;
	
	
}


#user-message {
	position: relative;
	left: 33%;
	width: 33%;
}