html,body,h1,h2,h3,h4,p,div,ul,li,svg{
	margin:0;
	padding:0;
	font-size:100%;
}

/*------------Structure-------------*/
html,body{
	height: 100%;
	position: relative;
	background: rgb(242,244,233);
}
.container,
.container .canvas{
	position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	position: relative;
}
.container .control{
	height:60px;
	width: 500px;
	left: 50%;
	bottom: 50px;
	position: absolute;
	margin-left: -250px;
}

/*------------font-------------*/
body{
	font-family:Helvetica,Arial,sans-serif;
	font-size: 16px;
}
h1{
	font-size: 2em;
	margin: 30px 0 10px;
}
h2{
	font-size:1.5em;
	margin: 0 0 20px;
}

/*------------tooltip-------------*/
.tooltip{
	width: 150px;
	padding: 15px;
	background: yellow;
	position: absolute;
	top:0;
	opacity:0;
}

/*-----------control--------------*/
.control .button{
    color:#000;
    background: #fff;
    text-align:center;

    display:block;
    height:60px;
    width:150px;
    float:left;
    line-height:60px;
}
.control .button:hover{
    background: rgb(245,245,245);
}

/*------------svg-----------------*/
