a {
	color: black;

}



body {
	margin: 20px;
	font-family: junction, sans-serif;

}

#last-item {
	margin-bottom: 300px;
}


.btn {
	color: black;
}

.btn:hover {
	color: black;
}

#prototypeContainer {
    position: relative;
    margin-bottom: 40px;
}

.panel {
	border-color: black;
	border-radius: 6px;
	background-color: lightGray;
	padding: 10px;
	
}

#background, 
#contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#background {
    z-index: 10;
}

#contents {
	top: 181px;
	left:  73px;
    z-index: 20;
    width: 622px;
    height: 740px;
    background-color: gold;
    
    
}

#menu-items {
	display: inline-block;
	width: 100%;
	height: 570px;
	text-align: center;
}

#order-popover {

	position: relative;
	margin: auto;
	text-align: center;
	vertical-align: center;	
	

}

#plate {

	position: relative;
	margin: auto;
	margin-top:  6px;
	text-align: center;
	vertical-align: center;	

}

#popover-contents {
	width: 700px;
	height: 400px;
}

.tab-content {
	display: block;
	width: 100%;
	height: 88.4%;
	padding-right: 0px;
	background-color: white;
}


label {
	display: inline-block;
	padding-left:6px;

}

radio {
	float: left;
}


.list-item-label {
	font-weight: bold;
	
}

ul {
	list-style-type: none;
	margin-left: 0px;
	
}

.tab-pane active {
	background-color: darkGray;
}


li {
	margin-bottom: 20px;
}

#pig-button {
	background: url ('/img/pig.svg') no-repeat;
}

#header-tabs {
	margin: 4px;
	margin-bottom: 0px;
	margin-top: 0px;
}


.tab-color {
	background-color: lightGray;
	color: black;
}

.menu-header  {
	font-family: chunkfive, serif;
	font-size: 36px;
	text-align: center;
	padding: 10px;
	padding-top: 18px;
	margin: 0px;
}

.item {
	margin: 0px;
	padding: 1px;
}

.not-selected {
	background-color: white;
}

.selected {
	background-color: lightGray;
}

#Learn-More {
	padding: 12px;
}

#bread {
	margin: auto;
	text-align: center;
	
}


.menu-text {
	text-align: center;
}
.big-and-strong {
	font-family: chunkfive, serif;
	font-size: 18px;
}

@font-face
{
	font-family: junction;
	src: url('junction.otf');	 
}


@font-face
{
	font-family: chunkfive;
	src: url('chunk.otf');	 
}

#ready-alert {
	position: absolute;
	top: 200px;
	left: 50px;
	background-color:  gold;
	padding: 12px;
	width: 500px;
	border-radius: 12px;
	border-color: black;
	
}

#popup-fade {
	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 622px;
	height: 740px;
	background-color: black;
	opacity: .8;
}


#popup-window-menu,#popup-window-pay {
	
	position: absolute;
	top: 100px;
	left: 31px;
	width: 560px;
	height: 550px;
	background-color: white;
	opacity: 1.0;
	z-index: 999;
	
}

#popup-title {
	padding: 12px;
	padding-bottom:4px;
}

#popup-title, .popup-close {
	text-align: center;
	
}

#receipt {
	width: 300px;
	background-color: lightGray;
	margin: 24px;
	padding: 12px;
}
#Check .tip-btn {
	margin-left: 24px;
}
#total {
	width: 300px;
	background-color: gold;
	margin: 24px;
	padding: 12px;
	font-family: chunkfive;
	
}
