/* CSS Sandbox */


html,body,h1,h2,h3,h4,p,div{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
}

.wrapper {
	color:  white;
	
	
}

.one {

	padding:  10px;
	margin: 10px;
	background-color: red;
	padding-left:  10px; 
	margin-right:  10px; 

}

.two {
	padding:  10px;
	margin: 10px;
	background-color: orange;
	padding-left:  20px;
	margin-right:  20px; 
}

.three{
	padding:  10px;
	margin: 10px;
	background-color: gold;
	padding-left:  30px; 
	margin-right:  30px; 
}

.four{
	padding:  10px;
	margin: 10px;
	background-color: green;
	padding-left:  40px;
	margin-right:  40px; 
}

.five{
	padding:  10px;
	margin: 10px;
	background-color: blue;
	padding-left:  50px; 
	margin-right:  50px; 
}
