html,body,h1,h2,h3,h4,p,div,ul,li{
	margin:0;
	padding:0;
	font-size:100%;
}

/*------------Structure-------------*/
body{
	background:rgb(250,250,250);
	font-family:Helvetica,Arial,sans-serif;
	font-size: 16px;
}
.wrapper{
	width:800px;
	margin:0 auto;
}
.wrapper .section{
	background:#fff;
	margin: 20px 0 0;
	padding: 20px;
	position: relative;
}
.wrapper .section:after{
	content: "";
	visibility: hidden;
	clear: both;
	display: block;
}

/*------------font-------------*/
h1{
	font-size: 2em;
	margin: 30px 0 10px;
}
h2{
	font-size:1.5em;
	margin: 0 0 20px;
}

/*------------block-------------*/
.dom-manipulation .block{
	margin: 10px;
	float: left;
	position: relative;
	background: #03afeb;
}
.dom-manipulation .block:hover{
}

/*------------tooltip-------------*/
.tooltip{
	width: 150px;
	padding: 15px;
	background: yellow;
	position: absolute;
	top:0;
	opacity:0;
}