html,body,h1,h2,h3,p,ul,ol,li,figure{
    padding:0;
    margin:0;
}
html{
    background: rgba(250,250,250,1);
}
ul,ol{
    list-style:none;
}

/*--------global-------*/
.tag{
    background: #03afeb;
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
}

/*--------layout-------*/
body{
    margin: 0 auto;
}
#banner,#featured,#content,#info{
    margin: 20px auto;
    padding: 20px 3%;
}

/*--------#banner-------*/
#banner{
    width: 60%;
}
#banner nav{
    background: #000;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    margin: 20px 0 0;
}
#banner nav ul{
    margin: 0 auto;
    width: 100%;
}
#banner nav ul li{
    float: left;
    padding: 0 10px;
}

/*--------#content-------*/
#content{
    background: #fff;
    border-radius: 8px;
    width: 54%;
}
#content ol li article{
    margin: 15px 0;
    padding: 0 0 10px 20%;
    border-bottom: 1px solid #ccc;
    position: relative;
}
#content ol li:last-child article{
    border-bottom: none;
}
#content ol li article .entry-content{
    margin: 5px 0;
}
#content ol li article footer{
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    font-size: 0.7em;
}

/*--------#featured-------*/
#featured{
    background: #fff;
    border-radius: 8px;
    width: 54%;
}
#featured figure, #featured figure img{
    width: 100%;
}

/*--------#footer-------*/
#info{
    width: 60%;
}

/*--------fonts-------*/
h1,h2,h3,span,nav{
    font-family: Helvetica,Arial,sans-serif;
}
h1{
    font-size:2em;
}
h2{
    font-size:1.5em;
    margin: 0 0 10px;
}